a:link {
  color: #CFD8DC;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #651FFF;
  background-color: transparent;
  text-decoration: dashed;
}

a:active {
  color: #FFC107;
  background-color: transparent;
  text-decoration: none;
}

body, html {
  height: 100%;
  margin: 0;
  background: #000;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  animation: static 777ms infinite;
  background-image:
      radial-gradient(circle, #F44336 2%, transparent 1%),
      radial-gradient(circle, #2196F3 2%, black 1%);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

@keyframes static {
  0% { background-position: 0 0, 50px 50px; }
  100% { background-position: 100px 100px, 0 0; }
}


#data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3em;
  z-index: 2;
  animation: pulse 777ms infinite;
}

@keyframes pulse {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.3;
  }
  100% {
      opacity: 1;
  }
}
